{% extends 'main/base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
    <div class="cont">
        <h2>
            <p style="text-align: center; font-size:35px'">Farms status</p>
        </h2>
        <meta http-equiv="refresh" content="5">
        <div class="wrapper">
            {% if cells %}
                {% for el in cells %}
                    {% if el.GrowthProcess < 100 %}
                        <div class="alert mt-2" style="width:600px; background:#9DF3C4; margin: 10px auto; border: 10px double #62D2A2">
                    {% else %}
                        <div class="alert mt-2" style="width:600px; background:#9DF3C4; margin: 10px auto; border: 10px double green">
                    {% endif %}
                            <rb style="font-size:32px; font-weight:bold">{{ el.Name }}</rb>
                            {% if el.Online %}
                                <rb style="float:right; margin-top:13px; display:block; width:20px; height:20px; border-radius:10px; background-color: green;"></rb>
                                <rb style="font-size:22px; float:right; margin-top:5px; margin-right:10px">Online</rb>
                            {% else %}
                                <rb style="float:right; margin-top:13px; display:block; width:20px; height:20px; border-radius:10px; background-color: red;"></rb>
                                <rb style="font-size:22px; float:right; margin-top:5px; margin-right:10px">Offline</rb>
                            {% endif %}
                            <p style="margin-top:20px">Mode: {{ el.Mode }}</p>
                            <p>Temperature: {{ el.Temperature }}°С</p>
                            <p>Humidity: {{ el.Humidity }}%</p>

                            {% if el.Light %}
                                <p>Light: detected</p>
                            {% else %}
                                <p>Light: not detected</p>
                            {% endif %}

                            <p>Time Left: {{ el.TimeLeft }}</p>
                            <table>
                                <tr>
                                    <td>
                                        <h4>Growth Process: {{ el.GrowthProcess }}%</h4>
                                    </td>
                                    <td>
                                        {% if not el.AvailabilityOfWater %}
                                            <h4 style="position: relative; left: 40%; color: red">Not enough water</h4>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                {% endfor %}
            {% else %}
                <br><h3 style="text-align:center">You don't have any cells :(</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}

<div class="title">
    <div class="name">
        <a>{{ el.Name }}</a>
    </div>
    <div class="water">
        {% if not el.AvailabilityOfWater %}
            <a>NOT ENOUGH WATER</a>
        {% endif %}
    </div>
    <div class="status">
        {% if el.Online %}
            <a>Online</a>
            <div class="circle_online"></div>
        {% else %}
            <a>Offline</a>
            <div class="circle_offline"></div>
        {% endif %}
    </div>
</div>
<div class="content">
    <div class="">
        <div class="row">
            <div class="title">
                <a>MODE:</a>
            </div>
            <div class="value">
                <a>{{ el.Mode }}</a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <a>TEMPERATURE:</a>
            </div>
            <div class="value">
                <a>{{ el.Temperature }}°С</a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <a>HUMIDITY:</a>
            </div>
            <div class="value">
                <a>{{ el.Humidity }}%</a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <a>LIGHT:</a>
            </div>
            <div class="value">
                {% if el.Light %}
                    <a>detected</a>
                {% else %}
                    <a>not detected</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="title">
                <a>TIME LEFT:</a>
            </div>
            <div class="value">
                <a>{{ el.TimeLeft }}</a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <a>GROWTH PROCESS:</a>
            </div>
            <div class="value">
                <a>{{ el.GrowthProcess }}%</a>
            </div>
        </div>
    </div>
</div>
