{% extends 'main/base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
    <div class="cont">
        <h2>
            <p style="text-align: center; font-size:35px'">Farms status</p>
        </h2>
        <meta http-equiv="refresh" content="5">
        <div class="wrapper">
            {% if statuses %}
                {% for el in statuses %}
                    {% if el.GrowthProcess < 100 %}
                        <div class="alert mt-2" style="width:49%; background:#9DF3C4; border: 10px double #62D2A2">
                    {% else %}
                        <div class="alert mt-2" style="width:49%; background:#77DD77; border: 10px double green">
                    {% endif %}
                           <rb style="font-size:32px; font-weight:bold">{{ el.FarmName }}</rb>
                            {% if el.CheckLine %}
                                <rb style="float:right; margin-top:13px; display:block; width:20px; height:20px; border-radius:10px; background-color: green;"></rb>
                                <rb style="font-size:22px; float:right; margin-top:5px; margin-right:10px">Online</rb>
                            {% else %}
                                <rb style="float:right; margin-top:13px; display:block; width:20px; height:20px; border-radius:10px; background-color: red;"></rb>
                                <rb style="font-size:22px; float:right; margin-top:5px; margin-right:10px">Offline</rb>
                            {% endif %}
                            <p style="margin-top:20px">Temperature: {{ el.Temperature }}°С</p>
                            <p>Humidity: {{ el.Humidity }}%</p>
                            <p>Light: {{ el.Light }}%</p>
                            <p>Time Left: {{ el.TimeLeft }}</p>
                            {% if el.Working %}
                                <h4>Growth Process: {{ el.GrowthProcess }}%</h4>
                            {% else %}
                                <h4>Growth Process: None</h4>
                            {% endif %}
                        </div>
                {% endfor %}
            {% else %}
                <br><h3 style="text-align:center">You don't have any cells :(</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
