{% extends 'main/base.html' %}

{% block title %}Management{% endblock %}

{% block content %}
    <div class="cont">
        <h4>
            <p style="text-align: center; font-size:35px">Management</p>
        </h4>
        <div class="wrapper">
            {% if statuses %}
                {% for el in statuses %}
                <div style="width:600px; padding-top:20px; position:inline; margin: 10px">
                    {% if not el.CheckLine %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="cl-btn-2" style="pointer-events:auto; position: absolute; left:100%; bottom:95%;">
                                <div>
                                    <div class="leftright"></div>
                                    <div class="rightleft"></div>
                                    <input type="submit" style="opacity:0; position: absolute; top:-10px; width:25px; height:25px" name="Delete{{ el.id }}">
                                </div>
                            </div>
                        </form>
                    {% endif %}

                    {% if el.CheckLine %}
                        <div class="alert mt-2" style="width:100%; background-color:#9DF3C4; border: 10px double #62D2A2">
                    {% else %}
                        <div class="alert mt-2" style="width:100%; pointer-events:none; opacity:0.5; background: #CCC">
                    {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <table cellspacing="0" cellpadding="5" style="width:100%">
                                    <tr>
                                        <td>
                                            <h3>{{ el.FarmName }}</h3>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" style="width:100%" name="ChangeName{{ el.id }}" placeholder="Enter a new name">
                                        </td>
                                        <td>
                                            <input type="submit" class="btn" name="NameSend{{ el.id }}" value="Rename" style="width:100%; background-color:#1FAB89; color:white">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr><br>
                                            <div>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="width:60%">
                                                            <select style="width:100%; height:38px" name="ModsSelect">
                                                                <option selected disabled>
                                                                    Select a mode
                                                                </option>
                                                                {% for mds in mods %}
                                                                    <option name="{{ mds.ModeName }}">
                                                                        {{ mds.ModeName }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td style="width:40%">
                                                            <input type="submit" class="btn" name="Accept{{ el.id }}" value="Accept" style="width:100%; background-color:#1FAB89; color:white">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>
                                                <input type="submit" class="btn" name="Again{{ el.id }}" value="Again" style="width:100%; background-color:#1FAB89; color:white">
                                            </div><br><hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <p style="font-size: 24px">
                                            <td>
                                                Cooler: &nbsp;
                                            </td>
                                            <td>
                                                <input type="submit" class="btn" name="CoolerOn{{ el.id }}" value="On" style="width:100%; background-color:#1FAB89; color:white">
                                            </td>
                                            <td>
                                                <input type="submit" class="btn" name="CoolerOff{{ el.id }}" value="Off" style="width:100%; background-color:#1FAB89; color:white">
                                            </td>
                                        </p>
                                    </tr>
                                    <tr>
                                        <p style="font-size: 24px;">
                                            <td>
                                                Watering: &nbsp;
                                            </td>
                                            <td>
                                                <input type="submit" class="btn" name="WateringOn{{ el.id }}" value="On" style="width:100%; background-color:#1FAB89; color:white">
                                            </td><td>
                                                <input type="submit" class="btn" name="WateringOff{{ el.id }}" value="Off" style="width:100%; background-color:#1FAB89; color:white">
                                            </td>
                                        </p>
                                    </tr>
                                    <tr>
                                        <p style="font-size: 24px">
                                            <td>
                                                Light: &nbsp;
                                            </td>
                                            <td>
                                                <input type="submit" class="btn" name="LightOn{{ el.id }}" value="On" style="width:100%; background-color:#1FAB89; color:white">
                                            </td><td>
                                                <input type="submit" class="btn" name="LightOff{{ el.id }}" value="Off" style="width:100%; background-color:#1FAB89; color:white">
                                            </td>
                                        </p>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <input type="submit" class="btn" name="Default{{ el.id }}" value="Default" style="width:100%; background-color:#1FAB89; color:white">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">
                                            For developers
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" style="width:100%" name="json{{ el.id }}" placeholder="Enter a json">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" style="width:100%" name="topic{{ el.id }}" placeholder="Enter a topic">
                                        </td>
                                        <td>
                                            <input type="submit" class="btn" name="sendjson{{ el.id }}" value="Send" style="width:100%; background-color:#1FAB89; color:white">
                                        </td>
                                    </tr>


                                </table>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <br><h3 style="text-align:center">You don't have any cells :(</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}


