{% extends 'main/base.html' %}

{% block title %}Modes{% endblock %}

{% block content %}
    <div style="width: 600px; margin: 0 auto;">
        <h1 style="text-align: center">Modes</h1>
        <hr>
        <div style="width:100%; height: 80px; border: 10px double #62D2A2" align="center">
            <a class="btn btnmodes" href="/createMode">+ Add a mode</a>
        </div>
        <ol class="rounded">
            {% for el in mode %}
            <li><a href="{% url 'umode' pk=el.id %}">{{ el.ModeName }}</a></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}